.footer{
    border-top: 1px solid #e4e5e7;
    footer{
        padding: 64px 32px 0 32px;
        width: 100%;
        .footer__content{
            justify-content: space-around;
            .topic{
                padding: 0 0 30px 0;
                color: #404145;
                font-size: 21px !important;
                font-weight: 700;
                line-height: 140%;
                font-family: Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
            }
            ul{
                list-style: none;
                li:not(last-of-type){
                    padding-bottom: 16px;
                }
                li{
                    a{
                        color: #7a7d85;
                        font-size: 21px !important;
                        font: 400 16px/24px Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
                        p{
                            color: #b5b6ba;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        .footer__bottom{
            border-top: 1px solid #e4e5e7;
            padding-top: 12px;
            .wrapper{
                .footer__content{
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .left{
                        display: flex;
                        padding: 16px 0;
                        img{
                            height: 25px;
                        }
                        p{
                            color: #b5b6ba;
                            display: flex;
                            align-items: center;
                            font-size: 14px;
                            line-height: 21px;
                            span{
                                margin-left: 25px;
                            }
                        }
                    }
                    .right{
                        padding-top: 10px;
                        padding-right: 80px;
                        display: flex;
                        align-items: center;
                        ul{
                            display: flex;
                            list-style: none;
                            padding-right: 32px;
                            li:not(:last-of-type){
                                margin-right: 25px;
                            }
                            li{
                                a{
                                    i{
                                        font-size: 20px;
                                        color: #7a7d85;
                                        padding: 2px;
                                    }
                                    &:hover{
                                        padding: 8px;
                                        margin: -8px;
                                        background-color: #efeff0;
                                        border-radius: 50%;
                                        transition: background-color .2s ;
                                    }
                                }
                                
                            }
                        }
                        .setting-buttons{
                            display: flex;
                            button:not(:last-of-type){
                                margin-right: 4px;
                            }
                            button{
                                font-size: 14px;
                                color: #7a7d85;
                                background-color: transparent;
                                font-weight: 600 !important;
                                padding: 8px 12px;
                                margin-bottom: 30px;
                                border: none !important;
                                &:hover{
                                    color: #404145;
                                    background-color: #f5f5f5;
                                    border-radius: 54px;
                                }
                                i:first-child{
                                    font-size: 14px !important;
                                }
                                i:last-child{
                                    font-size: 20px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}